body,
html {
  background-color: black;
  overflow: unset;
  margin: 0px;
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: white;
}

#strokeSize {
  width: 2.5em;
}

.container {
  position: relative;
}

.textarea {
  width: 400px;
  height: 150px;
  resize: none;
}

.button-inside {
  position: absolute;
  top: 0px;
  right: 15px;
}
