body,
html {
  background-color: black;
  overflow: unset;
  margin: 0px;
  text-align: center;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  background-color: white;
}

#strokeSize {
  width: 2.5em;
}

.container {
  position: relative;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sectionRow {
  display: flex;
  margin-bottom: 0px; /* Adjust margin between rows */
  flex-direction: row;
}

.section {
  margin: 0; /* Reset margin to zero */
  padding: 0; /* Reset padding to zero */
  box-sizing: border-box;
  border: none;
}

.canvas {
  height: 405px;
  padding-bottom: 5px;
}

.tools {
  height: 30px;
  padding: 5px;
}

.toolElement {
  vertical-align: top;
}

.textarea {
  width: 400px;
  height: 150px;
  resize: none;
}

.button-inside {
  position: absolute;
  top: 0px;
  right: 0px;
}

.info {
  flex-direction: row;
  width: 360px;
  height: 150px;
  color: aquamarine;
  border: 1px solid #ccc;
  text-align: left;
}

.row {
  flex-direction: column;
}
